<?xml version="1.0" encoding="UTF-8"?>
<!--
* @Description:
* @FilePath: \src\main\resources\spring\applicationContext-transaction.xml
* @Author: whimsyquester rongquanhuang01@gmail.com
* @Date: 2023-06-05 11:32:03
* @LastEditors: whimsyquester rongquanhuang01@gmail.com
* @LastEditTime: 2023-06-07 14:59:43
* Copyright (c) 2023 by whimsyquester , All Rights Reserved.
-->


<!-- 
	(1)Spring配置文件的开头,定义了XML命名空间和schemaLocation,使用了以下命名空间
	xmlns:beans:定义了Spring的bean元素,用于定义应用程序中的对象。
	xmlns:context:定义了Spring的context命名空间,用于加载属性文件和其他上下文相关的配置。
	xmlns:xsi:定义了XML Schema实例命名空间,用于指定schemaLocation属性。
	xmlns:aop:定义了Spring的aop命名空间,用于配置面向切面编程。
	xmlns:tx:定义了Spring的tx命名空间,用于配置事务管理。
	xmlns:mvc:定义了Spring的mvc命名空间,用于配置Spring MVC框架。

	(2)使用了xsi:schemaLocation属性来指定每个命名空间的XML Schema文件的位置。
	这些文件通常位于Spring框架的jar包中,但也可以从Spring的官方网站上下载。
	这样做可以帮助Spring验证配置文件的正确性,并提供代码提示和自动完成功能。
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- 定义了一个名为transactionManager的bean,它是一个DataSourceTransactionManager类型的对象,用于管理数据库事务。
	该bean还引用了名为dataSource的另一个bean,以便在事务管理器中使用。
	-->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--使用tx:annotation-driven元素启用了基于注释的事务管理-->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
